In [31]:
# imports
import requests
import pandas as pd
import numpy as np
import os

from IPython.display import JSON

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [32]:
#set the keys
foursquare_id = os.environ["FOURSQUARE_API_ID"]
foursquare_secret = os.environ["FOURSQUARE_API_SECRET"]
foursquare_api_key = os.environ["FOURSQUARE_API_KEY"]

In [33]:
# read stations csv file
stations_df = pd.read_csv("CSVs/stations.csv")
stations_df = stations_df.drop('Unnamed: 0', axis = 1)

print(stations_df)

         lat       lon  free_bikes  empty_slots                  ll
0  49.326898  8.544466           5            1  49.326898,8.544466
1  49.317716  8.542873           2            4  49.317716,8.542873
2  49.311285  8.546140           0            6   49.311285,8.54614
3  49.334484  8.534902           2            4  49.334484,8.534902
4  49.317325  8.538029           1           11  49.317325,8.538029
5  49.316164  8.564873           5            0  49.316164,8.564873
6  49.326049  8.565699           2            2  49.326049,8.565699
7  49.317835  8.548447           0            6  49.317835,8.548447

In [34]:
# defining a function to get the number of bars for each coordinate

def get_venues(coordinates):
    url = "https://api.foursquare.com/v3/places/search"

    params = {
        "categories": "13003",
        "ll": str(coordinates),
        'radius': "1000",
        "sort":"DISTANCE",
        "limit":"50"
    }

    headers = {
        "Accept": "application/json",
        "Authorization": foursquare_api_key
    }
    # Get the request
    response = requests.request("GET", url, params=params, headers=headers)
    # Convert to python object with .json()
    res = response.json()
    # Return the number of bars in that area
    num_bars = len(res['results'])
    return num_bars

In [35]:
foursquare_df = pd.DataFrame()
# add the number of bars to the dataframe
foursquare_df['f_num_bars'] = stations_df['ll'].apply(get_venues)

In [36]:
foursquare_df

   f_num_bars
0           9
1          10
2           5
3           0
4           9
5           1
6           0
7           8

In [37]:
# defining a function to get the number of POIs for each location

def get_pois(coordinates):
    url = "https://api.foursquare.com/v3/places/search"

    params = {
        "categories": "16000",
        "ll": str(coordinates),
        'radius': "1000",
        "sort":"DISTANCE",
        "limit":"50"
    }

    headers = {
        "Accept": "application/json",
        "Authorization": foursquare_api_key
    }
    # Get the request
    response = requests.request("GET", url, params=params, headers=headers)
    # Convert to python object with .json()
    res = response.json()
    # Return the number of bars in that area
    num_pois = len(res['results'])
    return num_pois

In [38]:
# add the number of POIs to the dataframe
foursquare_df['f_POIs'] = stations_df['ll'].apply(get_pois)

In [39]:
foursquare_df['ll'] = stations_df['ll']
foursquare_df

   f_num_bars  f_POIs                  ll
0           9       3  49.326898,8.544466
1          10       4  49.317716,8.542873
2           5       1   49.311285,8.54614
3           0       0  49.334484,8.534902
4           9       4  49.317325,8.538029
5           1       4  49.316164,8.564873
6           0       2  49.326049,8.565699
7           8       2  49.317835,8.548447

In [88]:
foursquare_df.to_csv("foursquare.csv")

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

Put your parsed results into a DataFrame

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

In [11]:
#set the key
yelp_api_key = os.environ["YELP_API_KEY"]

In [40]:
# defining a function to get the number of bars for each coordinate

def get_venues_yelp(lat, lon):
    url = "https://api.yelp.com/v3/businesses/search?"

    params = {
        "categories": "bars",
        "latitude": str(lat),
        "longitude": str(lon),
        "radius": "1000",
        "sort":"distance",
        "limit":"50"
    }

    headers = {
        "accept": "application/json",
        "Authorization": "Bearer " + yelp_api_key
    }
    # Get the request
    response = requests.request("GET", url, params=params, headers=headers)
    # Convert to python object with .json()
    res = response.json()
    # Return the number of bars in that area
    num_bars = len(res['businesses'])
    return num_bars

In [41]:
yelp_df = pd.DataFrame()
# creating the yelp DataFrame
index = 0
num_bars = []

for entry in stations_df['lat']:
    
    lat = stations_df['lat'][index]
    lon = stations_df['lon'][index]
    index += 1
    num_bars.append(get_venues_yelp(lat, lon))
    
print(num_bars)

[1, 2, 2, 0, 2, 0, 0, 2]

In [42]:
yelp_df['y_num_bars'] = num_bars

In [43]:
yelp_df

   y_num_bars
0           1
1           2
2           2
3           0
4           2
5           0
6           0
7           2

In [44]:
# defining a function to get the number of POIs for each coordinate

def get_venues_yelp(lat, lon):
    url = "https://api.yelp.com/v3/businesses/search?"

    params = {
        "categories": "eventservices",
        "latitude": str(lat),
        "longitude": str(lon),
        "radius": "1000",
        "sort":"distance",
        "limit":"50"
    }

    headers = {
        "accept": "application/json",
        "Authorization": "Bearer " + yelp_api_key
    }
    # Get the request
    response = requests.request("GET", url, params=params, headers=headers)
    # Convert to python object with .json()
    res = response.json()
    # Return the number of bars in that area
    num_pois = len(res['businesses'])
    return num_pois

In [45]:
# finding the number of POIs
index = 0
num_pois = []

for entry in stations_df['lat']:
    
    lat = stations_df['lat'][index]
    lon = stations_df['lon'][index]
    index += 1
    num_pois.append(get_venues_yelp(lat, lon))
    
print(num_pois)

[14, 13, 12, 1, 13, 0, 0, 12]

In [47]:
yelp_df['y_num_pois'] = num_pois
yelp_df['ll'] = stations_df['ll']
yelp_df

   y_num_bars  y_num_pois                  ll
0           1          14  49.326898,8.544466
1           2          13  49.317716,8.542873
2           2          12   49.311285,8.54614
3           0           1  49.334484,8.534902
4           2          13  49.317325,8.538029
5           0           0  49.316164,8.564873
6           0           0  49.326049,8.565699
7           2          12  49.317835,8.548447

In [89]:
yelp_df.to_csv("yelp.csv")

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

Put your parsed results into a DataFrame

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

The Foursquare API provided more complete data as there are (slightly) fewer zeros for the number of bars and number of POIs in the area.

Get the top 10 restaurants according to their rating

In [64]:
def get_venues(coordinates):
    url = "https://api.foursquare.com/v3/places/search"

    params = {
        "categories": "13065",
        "ll": str(coordinates),
        'radius': "1000",
        "sort":"DISTANCE",
        "limit":"50",
        "fields": "name,rating"
    }

    headers = {
        "Accept": "application/json",
        "Authorization": foursquare_api_key
    }
    # Get the request
    response = requests.request("GET", url, params=params, headers=headers)
    # Convert to python object with .json()
    res = response.json()
    return res

In [65]:
foursquare_rest = stations_df['ll'].apply(get_venues)

In [83]:
len(foursquare_rest[0]['results'][1])

2

In [75]:
ratings = {'Dschingis Khan': 7.0,
          'Knossos Palace': 6.7,
          'Knossos Palace': 6.7,
          'Dschingis Khan': 7.0,
          'Knossos Palace': 6.7,
          'Burger King': 5.8,
          'Autobahnraststätte & Motel Hockenheimring West': 5.1,
          'Knossos Palace': 6.7}

In [87]:
rating = {}
index = 0

for entry in foursquare_rest:
    index_2 = 0
    for res in foursquare_rest[index]['results']:
        if len(foursquare_rest[index]['results'][index_2]) == 2:
            rating.update(foursquare_rest[index]['results'][index_2])
            index_2 += 1
        else:
            continue
    index += 1
print(rating)

{'name': 'Autobahnraststätte & Motel Hockenheimring West', 'rating': 5.1}

In [90]:
rating = {}
index = 0

rating = {}

for entry in foursquare_rest:
    for result in entry['results']:
        # Check if the 'rating' key is present in the dictionary
        if 'rating' in result:
            # Add the relevant information to the 'rating' dictionary
            rating[result['name']] = result['rating']

print(rating)

{"McDonald's": 6.1, 'Dschingis Khan': 7.0, 'Burger King': 5.8, 'Et Cetera': 6.6, 'Knossos Palace': 6.7, 'Autobahnraststätte & Motel Hockenheimring West': 5.1, 'Raststätte Am Hockenheimring Ost': 4.8}

As there are only seven restaurants with ratings in the data the above dictionary shows the top 7 rated restaurants for this area.